.logo {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 28px;
}

.menu {
  overflow-y: scroll;
  min-height: 90%;
  height: 10vh;
  &::-webkit-scrollbar-track {
    background-color: #001529;
  }
  &::-webkit-scrollbar {
    width: 0.375rem;
    height: 0.375rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #0052c5;
    border-radius: 0.375rem;
  }
}
